# Encar_Merged_Prep 연습

In [34]:
import os 
import numpy as np
import pandas as pd
import hds
from plt_rcs import *
from scipy import stats
import pingouin as pg

In [35]:
os.getcwd()

'/Users/taehyunan/Desktop/Repo/SeSAC/Study/sesac_ml_dl_study_repo/project/data'

In [36]:
os.chdir('../data')

In [37]:
[i for i in sorted(os.listdir()) if 'Encar' in i]

['Encar_Merged_Prep_20220711.xlsx']

In [38]:
df = pd.read_excel('Encar_Merged_Prep_20220711.xlsx')

In [54]:
df.head()

,ID,가격,제조사,모델,종류,주행거리,변속기,연료,색상,튜닝여부,사고여부,내차피해,타차가해,연식개월,차번변경,차주변경,침수여부
0,21492269,520,현대,에쿠스,대형차,210861,오토,LPG,검정,N,N,3,0,183,1,2,0
1,22415311,500,현대,싼타페,SUV,176415,오토,디젤,은색,N,N,3,2,153,0,1,0
2,23381509,260,현대,스타렉스,승합차,218799,수동,디젤,기타,N,N,2,0,278,2,1,0
3,24550378,890,현대,갤로퍼,SUV,204731,수동,디젤,기타,Y,N,3,6,346,1,3,0
4,24780727,420,쌍용,체어맨,대형차,240425,오토,가솔린,검정,Y,N,3,3,172,1,7,0

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49965 entries, 0 to 49964
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      49965 non-null  object
 1   가격      49965 non-null  int64
 2   제조사     49965 non-null  object
 3   모델      49965 non-null  object
 4   종류      49965 non-null  object
 5   주행거리    49965 non-null  int64
 6   변속기     49965 non-null  object
 7   연료      49965 non-null  object
 8   색상      49965 non-null  object
 9   튜닝여부    49965 non-null  object
 10  사고여부    49965 non-null  object
 11  내차피해    49965 non-null  int64
 12  타차가해    49965 non-null  int64
 13  연식개월    49965 non-null  int64
 14  차번변경    49965 non-null  int64
 15  차주변경    49965 non-null  int64
 16  침수여부    49965 non-null  int64
dtypes: int64(8), object(9)
memory usage: 6.5+ MB

In [70]:
df.describe().round(3)

,가격,주행거리,내차피해,타차가해,연식개월,차번변경,차주변경,침수여부
count,49965.000,49965.000,49965.000,49965.000,49965.000,49965.000,49965.000,49965.000
mean,1535.598,95073.625,1.597,0.926,82.556,0.296,2.138,0.000
std,1131.098,55284.064,1.728,1.312,42.908,0.518,1.893,0.013
min,1.000,4.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,725.000,52641.000,0.000,0.000,50.000,0.000,1.000,0.000
50%,1270.000,88619.000,1.000,0.000,75.000,0.000,2.000,0.000
75%,2040.000,130000.000,2.000,1.000,113.000,1.000,3.000,0.000
max,9990.000,300000.000,17.000,20.000,429.000,17.000,31.000,1.000

In [42]:
df.columns

Index(['ID', '가격', '제조사', '모델', '종류', '주행거리', '변속기', '연료', '색상', '튜닝여부',
       '사고여부', '내차피해', '타차가해', '연식개월', '차번변경', '차주변경', '침수여부'],
      dtype='object')

In [58]:
df['모델'].unique()
df['연료'].unique()
df['제조사'].unique()
df['종류'].unique()

array(['대형차', 'SUV', '승합차', '중형차', '준중형차', '경차', 'RV', '경승합차', '화물차',
       '소형차', '스포츠카'], dtype=object)

## ID 문자열로 데이터 타입 변경

In [68]:
df = df.astype(dtype={'ID': str})

## 색상 통일

In [43]:
df['색상'].unique()

array(['검정투톤', '은색', '담녹색', '진주색', '검정색', '은색투톤', '흰색', '쥐색', '노란색', '청색',
       '빨간색', '명은색', '은회색', '진주투톤', '연금색', '하늘색', '금색', '흰색투톤', '분홍색',
       '주황색', '은하색', '갈대색', '청옥색', '갈색', '자주색', '연두색', '보라색', '녹색',
       '갈색투톤', '기타', '회색'], dtype=object)

In [48]:
color_g = ['은색', '은색투톤', '쥐색', '명은색', '은회색', '연금색', '회색']
color_w = ['흰색', '흰색투톤']
color_b = ['검정투톤', '검정색', '은하색']
color_c = ['담녹색', '진주색', '노란색', '청색', '빨간색', '진주투톤', '하늘색', '금색', '분홍색', '주황색', '갈대색', '청옥색', '갈색', '자주색', '연두색', '보라색', '녹색', '갈색투톤', '기타']

In [49]:
df.loc[df['색상'].isin(color_g), '색상'] = '은색'
df.loc[df['색상'].isin(color_w), '색상'] = '흰색'
df.loc[df['색상'].isin(color_b), '색상'] = '검정'
df.loc[df['색상'].isin(color_c), '색상'] = '기타'

In [51]:
df['색상'].unique()

array(['검정', '은색', '기타', '흰색'], dtype=object)

## 사고여부 확인

In [78]:
cols = ['가격', '제조사', '모델', '주행거리', '변속기', '연료', '튜닝여부',
        '사고여부', '내차피해', '타차가해', '연식개월', '차번변경', '차주변경', '침수여부']

In [95]:
df[cols].head()

,가격,제조사,모델,주행거리,변속기,연료,튜닝여부,사고여부,내차피해,타차가해,연식개월,차번변경,차주변경,침수여부
0,520,현대,에쿠스,210861,오토,LPG,N,Y,3,0,183,1,2,0
1,500,현대,싼타페,176415,오토,디젤,N,Y,3,2,153,0,1,0
2,260,현대,스타렉스,218799,수동,디젤,N,Y,2,0,278,2,1,0
3,890,현대,갤로퍼,204731,수동,디젤,Y,Y,3,6,346,1,3,0
4,420,쌍용,체어맨,240425,오토,가솔린,Y,Y,3,3,172,1,7,0

In [ ]:
# 사고기록('사고여부', '내차피해', '타차가해')을 하나의 '사고횟수' 컬럼으로 통합
df['사고횟수'] = df['내차피해'] + df['타차가해']
df.head()

,ID,가격,제조사,모델,종류,주행거리,변속기,연료,색상,튜닝여부,사고여부,내차피해,타차가해,연식개월,차번변경,차주변경,침수여부,사고횟수
0,21492269,520,현대,에쿠스,대형차,210861,오토,LPG,검정,N,Y,3,0,183,1,2,0,3
1,22415311,500,현대,싼타페,SUV,176415,오토,디젤,은색,N,Y,3,2,153,0,1,0,5
2,23381509,260,현대,스타렉스,승합차,218799,수동,디젤,기타,N,Y,2,0,278,2,1,0,2
3,24550378,890,현대,갤로퍼,SUV,204731,수동,디젤,기타,Y,Y,3,6,346,1,3,0,9
4,24780727,420,쌍용,체어맨,대형차,240425,오토,가솔린,검정,Y,Y,3,3,172,1,7,0,6

In [98]:
# 기존 사고기록('사고여부', '내차피해', '타차가해') 컬럼 제거
df = df.drop(columns=['사고여부', '내차피해', '타차가해'])
df.head()

,ID,가격,제조사,모델,종류,주행거리,변속기,연료,색상,튜닝여부,연식개월,차번변경,차주변경,침수여부,사고횟수
0,21492269,520,현대,에쿠스,대형차,210861,오토,LPG,검정,N,183,1,2,0,3
1,22415311,500,현대,싼타페,SUV,176415,오토,디젤,은색,N,153,0,1,0,5
2,23381509,260,현대,스타렉스,승합차,218799,수동,디젤,기타,N,278,2,1,0,2
3,24550378,890,현대,갤로퍼,SUV,204731,수동,디젤,기타,Y,346,1,3,0,9
4,24780727,420,쌍용,체어맨,대형차,240425,오토,가솔린,검정,Y,172,1,7,0,6

## 튜닝여부 더미 변수 변환

In [102]:
# 튜닝여부를 0과 1로 변환 (튜닝X - 0 / 튜닝O - 1)
cond = df['튜닝여부'].eq(0)
df['튜닝여부'] = np.where(cond, 'N', 'Y')
df.head()

,ID,가격,제조사,모델,종류,주행거리,변속기,연료,색상,튜닝여부,연식개월,차번변경,차주변경,침수여부,사고횟수
0,21492269,520,현대,에쿠스,대형차,210861,오토,LPG,검정,N,183,1,2,0,3
1,22415311,500,현대,싼타페,SUV,176415,오토,디젤,은색,N,153,0,1,0,5
2,23381509,260,현대,스타렉스,승합차,218799,수동,디젤,기타,N,278,2,1,0,2
3,24550378,890,현대,갤로퍼,SUV,204731,수동,디젤,기타,Y,346,1,3,0,9
4,24780727,420,쌍용,체어맨,대형차,240425,오토,가솔린,검정,Y,172,1,7,0,6

In [ ]:
# cols = '튜닝여부'
# pd.get_dummies(
#     data=df, columns=cols,
#     drop_first=True, dtype=int,
#     prefix='', prefix_sep=''
# )

TypeError: Input must be a list-like for parameter `columns`